<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Tracker | Activities</title>
    <link rel="stylesheet" href="../CSS/NavbarStyle.css">
    <link rel="stylesheet" href="../CSS/ActivityFormStyle.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <header>
        <nav>
            <div class="nav-left"><a href="./IndexLogin.html">Health Tracker</a></div>
            <div class="nav-right">
                <a href="./Actividades.html">Activities</a>
                <a href="./DatosSalud.html">Health</a>
                <a href="./Perfil.html">Profile</a>
                <a onclick="logOut()">LogOut</a>
            </div>
        </nav>
    </header>
    <main>
        <div class="form-container">
            <h2>Add Activity</h2>
            <form id="activityForm">
                <label for="nombre">Activity Name:</label>
                <input type="text" id="nombre" name="nombre" required>
                <label for="comentario">Comment:</label>
                <input type="text" id="comentario" name="comentario" required>
                <label for="caloriasPorHora">Calories per Hour:</label>
                <input type="number" id="caloriasPorHora" name="caloriasPorHora" required>
                <div class="button-group">
                    <button class="btn-success" type="button" id="saveButton" onclick="saveActivity()">Add</button>
                    <button class="btn-danger" type="button" id="cancelDetailButton" onclick="cancel()">Cancel</button>
                </div>
                <div id="error-message"></div>
            </form>
        </div>
    </main>
    <script src="../Scripts/MasterScript.js"></script>
</body>
</html>
