<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Health Tracker</title>
        <link rel="stylesheet" href="../CSS/IndexStyle.css">
        <link rel="stylesheet" href="../CSS/NavbarStyle.css">
    </head>
    <body>
        <header>
            <nav>
                <div class="nav-left"><a href="./IndexLogin.html">Health Tracker</a></div>
                <div class="nav-right">
                    <a href="./Actividades.html">Activities</a>
                    <a href="./DatosSalud.html">Health</a>
                    <a href="./Perfil.html">Profile</a>
                    <a onclick="logOut()">LogOut</a>
                </div>
            </nav>
        </header>
        <main>
            <div class="content">
                <img src="../Imagenes/index1.png" alt="Placeholder Image" class="main-image">
                <div class="text-content">
                    <h1>Why choose Health Tracker?</h1>
                    <p>The Health Tracker app is your ultimate companion for managing and monitoring your health. Whether you're focused on tracking your weight, blood pressure, or physical activity, this app is designed to help you stay on top of your health goals with ease.</p>
                </div>
            </div>
        </main>
    </body>
</html>