<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Health Tracker</title>
        <link rel="stylesheet" href="../CSS/IndexStyle.css">
        <link rel="stylesheet" href="../CSS/NavbarStyle.css">
    </head>
    <body>
        <header>
            <nav>
                <div class="nav-left"><a href="./IndexLogin.html">Health Tracker</a></div>
                <div class="nav-right">
                    <a href="./Actividades.html">Activities</a>
                    <a href="./DatosSalud.html">Health</a>
                    <a href="./Perfil.html">Profile</a>
                    <a href="./CerrarSesion.html">Log Out</a>
                </div>
            </nav>
        </header>
        <main>
            <div class="content">
                <img src="../Imagenes/index1.png" alt="Placeholder Image" class="main-image">
                <div class="text-content">
                    <h1>Lorem Ipsum</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum. Cras efficitur, nisl sit amet elementum condimentum, libero odio vehicula purus, id volutpat risus nisl ut mauris. Duis aliquet volutpat tortor, eget euismod libero sagittis id. Aenean convallis turpis et libero venenatis, nec luctus risus tempor.</p>
                </div>
            </div>
        </main>
    </body>
</html>