<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Health Tracker</title>
        <link rel="stylesheet" href="../CSS/LoginStyle.css">
        <link rel="stylesheet" href="../CSS/NavbarLog.css">
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <body>
        <header>
            <nav>
                <div class="nav-left"><a href="./Index.html">Health Tracker</a></div>
                <div class="nav-right">
                    <a href="./Login.html">Login</a>
                    <a href="./Register.html">Registro</a>
                </div>
            </nav>
        </header>
        <main>
            <div class="alert alert-success" id="successAlert">Login Success!</div>
            <div class="alert alert-danger" id="errorAlert">Login Failed!</div>
            <div class="login-container">
                <h2>Iniciar Sesión</h2>
                <form id="loginForm">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                    <label for="password">Contraseña:</label>
                    <input type="password" id="password" name="password" required>
                    <button type="button" id="loginButton" onclick="login()">Ingresar</button>
                </form>
                <div id="error-message"></div>
            </div>
        </main>
        
        <script src="../Scripts/MasterScript.js"></script>
    </body>
</html>
